ul {
  list-style: none;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-gap: 24px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  padding-left: 0px;
}
.gallery-image {
  transition: transform 0.2s ease;
}
.gallery-image:hover,
.gallery-image:focus {
  transform: scale(1.02);
}
.gallery img {
  width: 360px;
  height: 200px;
  object-fit: cover;
}
